*
{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}



a
{
    text-decoration: none;
}

h1, h2, h3, h4{
    color:rgb(207, 47, 47);
}
input
{
    outline: none;
}

button
{
    outline: none;
}

li{
    list-style: none;
}
header{
    width: 100%;
}
header img{
    width: 100%;
   
}

/* .nav-left{
     background: #CEDFFF;
    font-size: 16px;
    max-height: 500px;
} */

.nav-left li{
    padding-top: 10px;
    align-items: center;
letter-spacing: 0.05em;
  
}

.nav-left a{
    color: black;
    font-weight: bold;
} 

.right-content-content img{
    width: 45px;
    height: 45px;

}
.right-content-content_text #bb{
    border-bottom:2px solid #000;
    padding-bottom: 10px;
    
    
}
.right-content{
padding-left: 25px;
}
.right-content-content{
    
    font-size: 16px;
}

.right-content-content_text #tb,.right-content-content_text li{
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
}

.right-content-content_text #tb{
    padding-left: 50px;
}
.right-content-content_text li{
    padding-top: 5px;
}
.right-content-content_text ul{
    padding: 0; /* Убираем поля */
    margin-left: 0;
}

.right-content-content-img{
    height: 50px;
}

.video{
    text-align: center;
}

.rabot{
    text-align: center; 
    margin-top: 30px;
    padding-top: 20px;
    border-top:2px solid #000;
    border-bottom: 2px solid #000;
}

.rabot-video{
    margin-top: 30px;
    padding-bottom: 20px;
}
.reg{
    padding-left: 36px;
}
.reg h4{
    text-align: center;
    font-style: normal;
font-weight: bold;
font-size: 20px;
padding-top: 30px;
}

.reg img{
    height: 25px;
    width: 25px;
}

.conteiner_open iframe{
    display: none;
}


.navbar{
    display: none;
}

.rabot-slider{
    display: none;
}

.info, .question{
    margin: 60px;
}

.info h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 23px;
}

.info li, .question li {
    padding-bottom: 10px;
}

.info h1{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}

.question_headliner h3{
    font-size: 23px;
    padding-bottom: 10px;
}

.question_headliner p{
    padding-bottom: 10px;

}
.question_headliner{
    text-align: center;
}

.metrika{
    position: fixed;
}

.informer{
    position: fixed;
    z-index: 100;
     left:5%;
      top:83%;
}
.kollege_logo_block.rectangle{
    width: 175px;
}

.kollege_logo_block.quadro{
    width: 100px;
}
.kollege_logo_block{
    
    text-align: center;
    margin-right: 50px;
}
.kollege_logo_block.quadro img{
width: 100px;
}

.kollege_logo_block.rectangle img{
    width: 175px;
}
.kollege_logo_block img{
    height: 75px;
}


/* Таймер */

.conteiner_time{
    margin-top: 10px;
}
.conteiner_time h1, .conteiner_time p{
    font-size: 20px;
}

.reg_blocks_block h2{
    text-align: center;
}


.kollege_logo{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;

}

.kollege_logo_block p{
padding-top: 10px;
font-size: 13px;
}

.up_button a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding:0 20px 0 20px;
    border: none;
    background: #4FDBE4;
    
}

.up_button{
    position: fixed;
    bottom: 10px;
    left:85%;
    opacity: 1;
}

.up_button a:hover{
    background: #0ac9d6;
}

.reg_blocks{
    margin-top: 30px;
}

.reg_blocks_block h2{
    height: 140px;
    padding-top: 45px;
    font-size: 25px;
    
}

.reg_blocks_block ul{
    height: 150px;
    list-style: disc;
   
}

.reg_blocks_block li{
    margin-top: 10px;
   

    
}



.burger_div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .rabot{
      display: none;
  }

 @media screen and (max-width: 996px){
    .reg_blocks_block li{
        font-size: 12px;
  
    }
    .nav-left a{
        font-size: 12px;
     }
    .info, .question{
        margin: 30px;
    }
    .navbar{
         display: block;
        
     }

     .reg_blocks_wrapper iframe{
         height: 315px;
     }

     .reg_blocks_block h2 {
         font-size: 18px;
     }

    

     .nav-left{
         display: none;
     }

     .video iframe{
        height: 200px;
     }

     .rabot-video iframe{
         height: 80px;
     }

     .rabot-video{
         display: none;
     }

     .rabot-slider{
         display: block;
     }

     .slick-track{
         display: flex;

     }

     .slick-list{
         overflow: hidden;
     }
     
 }

 @media screen and (max-width: 700px){
    .reg_blocks_wrapper iframe{
        height: 215px;
    }

    .reg_blocks_block h2 {
        font-size: 16px;
    }

 }
 

 @media screen and (max-width: 500px){
    .reg_blocks_wrapper iframe{
        height: 150px;
    }

    .reg_blocks_block h2{
        font-size: 14px;
        height: 135px;
        padding-top: 25px;
        
    }

 }
 
 